{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-nocks" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-nocks" class="form-horizontal">
            {% for shop in shops %}
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissable">
                        <i class="fa fa-exclamation-circle"></i>
                        {{ shop.name }}: {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ nocks_config_title }}</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        {% for shop in shops %}
                            <li class="{{ shop.id == 0 ? 'active' : '' }}"><a data-toggle="tab" href="#store{{ shop.id }}">{{ shop.name }}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for shop in shops %}
                            <div id="store{{ shop.id }}" class="tab-pane fade in {{ shop.id == 0 ? 'active' : '' }}">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#nocks-config-{{ shop.id }}">{{ main_config_title }}</a></li>
                                    <li><a data-toggle="tab" href="#payment-statuses-{{ shop.id }}">{{ status_config_title }}</a></li>
                                    <li><a data-toggle="tab" href="#about-{{ shop.id }}">{{ about_title }}</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="nocks-config-{{ shop.id }}" class="tab-pane fade in active">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="{{ code }}_api_key">{{ entry_api_key }}</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-minus"></i></span>
                                                    <input type="text" name="stores[{{ shop.id }}][{{ code }}_api_key]" value="{{ stores[shop.id][code ~ '_api_key'] }}" id="{{ code }}_api_key" class="form-control" data-payment-nocks-api-key/>
                                                </div>
                                                {% if stores[shop.id].error_api_key %}
                                                    <div class="text-danger">{{ stores[shop.id].error_api_key }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="{{ code }}_merchant">{{ entry_merchant }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_merchant]" id="{{ code }}_merchant" class="form-control"></select>
                                                {% if stores[shop.id].error_merchant %}
                                                    <div class="text-danger">{{ stores[shop.id].error_merchant }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_geo_zone">{{ entry_geo_zone }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_geo_zone]" id="{{ code }}_geo_zone" class="form-control">
                                                    <option value="0">{{ text_all_zones }}</option>
                                                    {% for geo_zone in geo_zones %}
                                                        {% if geo_zone.geo_zone_id == stores[shop.id][code ~ '_geo_zone'] %}
                                                            <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                                        {% else %}
                                                            <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_status">{{ entry_status }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_status]" id="{{ code }}_status" class="form-control">
                                                    {% if stores[shop.id][code ~ '_status'] %}
                                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                                        <option value="0">{{ text_disabled }}</option>
                                                    {% else %}
                                                        <option value="1">{{ text_enabled }}</option>
                                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_sort_order">{{ entry_sort_order }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="stores[{{ shop.id }}][{{ code }}_sort_order]" value="{{ stores[shop.id][code ~ '_sort_order'] }}" placeholder="1" id="{{ code }}_sort_order" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div id="payment-statuses-{{ shop.id }}" class="tab-pane fade in">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_pending_status_id">{{ pending_status }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_pending_status_id]" id="{{ code }}_pending_status_id" class="form-control">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == stores[shop.id][code ~ '_pending_status_id'] %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_failed_status_id">{{ failed_status }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_failed_status_id]" id="{{ code }}_failed_status_id" class="form-control">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == stores[shop.id][code ~ '_failed_status_id'] %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_cancelled_status_id">{{ cancelled_status }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_cancelled_status_id]" id="{{ code }}_cancelled_status_id" class="form-control">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == stores[shop.id][code ~ '_cancelled_status_id'] %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_expired_status_id">{{ expired_status }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_expired_status_id]" id="{{ code }}_expired_status_id" class="form-control">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == stores[shop.id][code ~ '_expired_status_id'] %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="{{ code }}_completed_status_id">{{ completed_status }}</label>
                                            <div class="col-sm-10">
                                                <select name="stores[{{ shop.id }}][{{ code }}_completed_status_id]" id="{{ code }}_completed_status_id" class="form-control">
                                                    {% for order_status in order_statuses %}
                                                        {% if order_status.order_status_id == stores[shop.id][code ~ '_completed_status_id'] %}
                                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                                        {% else %}
                                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="about-{{ shop.id }}" class="tab-pane fade in">
                                        <fieldset>
                                            <legend>Nocks - <a href="https://nocks.com" target="_blank">Nocks.com</a></legend>
                                            <div class="row">
                                                <label class="col-sm-2">Support</label>
                                                <div class="col-sm-10">
                                                    Contact us <a href="https://www.nocks.com/support" target="_blank">here</a> or on <a href="https://github.com/nocksapp" target="_blank">Github</a>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{ footer }}

<script type="text/javascript">
    (function () {
        var timeout, xhr;
        var getMerchantsUrl = $('<div/>').html('{{ get_merchants_url }}').text();
        var stores = JSON.parse('{{ stores|json_encode() }}');

        function getMerchants(key) {
            if (xhr) xhr.abort();

            xhr = $.get(getMerchantsUrl + '&key=' + key);

            return xhr;
        }

        function validateApiKey(value, $container) {
            var iconContainer = $container.siblings('.input-group-addon');

            if (value === '') {
                updateIcon(iconContainer, 'fa-minus', null, true);
                return;
            }

            clearTimeout(timeout);
            timeout = setTimeout(function () {
                updateIcon(iconContainer, 'fa-spinner fa-spin', null);

                getMerchants(value).then(function (response) {
                    if (response.success) {
                        updateIcon(iconContainer, 'fa-check text-success');
                        // Set merchants in select
                        $tab = $container.closest('.tab-pane');
                        var shopId = $tab.attr('id').slice(-1);

                        // Remove errors
                        $tab.find('.form-group.has-error').removeClass('has-error').find('.text-danger').remove();

                        $select = $tab.find('#{{ code }}_merchant');
                        $select.find('option').remove().end();
                        $.each(response.merchants, function (key, merchant) {
                            $select.append($('<option></option>').attr('value', merchant.value).text(merchant.label));
                        });
                        $select.val(stores[shopId].{{ code }}_merchant);
                    } else {
                        updateIcon(iconContainer, 'fa-times text-danger', response.message);
                    }
                });
            }, 400);
        }

        function updateIcon($container, classes, message) {
            var icon = '<i class="fa ' + classes + '"></i>';

            $container.html(icon);
            $container.popover('destroy');

            if (message) {
                $container.popover({
                    content: '<span class="text-danger">' + message + '</span>',
                    html: true,
                    placement: 'top',
                    trigger: 'hover manual'
                });

                if ($container.is(':visible')) {
                    $container.popover('show');
                }
            }
        }

        $('[data-payment-nocks-api-key]').on('keyup', function () {
            validateApiKey(this.value, $(this));
        }).each(function () {
            validateApiKey(this.value, $(this));
        });
    })();
</script>
